<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">My Portfolio</div>
        <ul>
            <li><a href="\">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/download_cv">Download CV</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Welcome to My Portfolio</h1>
        <p>Hello, I'm a product designer based in Somewhere.</p>
        <a href="/about">More About Me</a>
    </div>
    <div class="container1">
        <!-- Profile Image Section -->
        <div class="profile-image">
            <img src="{{ url_for('static', filename='img/background.jpeg') }}" alt="Profile Image">
        </div>
    
        <!-- About Me Text Section -->
        <div>
            <h1>About Me</h1>
            <p>Hello! I'm a passionate product designer with a keen eye for detail and a drive for creating intuitive, user-centered designs. I specialize in designing digital products that enhance user experiences and bring ideas to life.</p>
            <p>With years of experience in the industry, I have worked on diverse projects ranging from mobile apps to complex web platforms. I thrive on collaboration, innovation, and turning challenges into opportunities.</p>
            <p>Feel free to explore my portfolio or <a href="contact">get in touch</a> to learn more about my work!</p>
            <a class="button" href="download_cv">Download My CV</a>
        </div>
    </div>
    
</body>
</html>
